<!DOCTYPE html>
<html>
<head lang="en">
	<title>HomePage</title>
</head>
<body>
	<!-- css and js are just on separate html files inside every <app>/templates directory for cleaner looks at the code and uniformity -->

	<section>
	<!-- styling -->
	{% include 'index/css.html' %}
	{% include 'index/js.html' %}

	<!-- header -->
	{% include 'index/header.html' %}

	<!-- darkmode toggle -->
	<input type="checkbox">
	darkmode toggle not working properly

	<!-- content area -->
	{% block content_area %}{% endblock content_area %}

	<!-- footer -->
	{% include 'index/footer.html' %}
	</section>
</body>
</html>